* {
  margin: 0;
  padding: 0;
}
/* header related class */
.header {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  max-width: 1320px;
  width: auto;
  text-align: center;
  border-radius: 16px 16px 16px 16px;
  margin: 20px auto;
}
.banner-subtitle {
  color: #ffffff;
  padding-top: 150px;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 16px;
}
.banner-title {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}
#banner {
  margin: 50px 0;
}
.container {
  height: 600px;
  background-image: url("../resources/banner.png");
}

/* offer section */

.section-heading {
  width: auto;
  text-align: center;
  border-radius: 16px 16px 16px 16px;
  margin-top: 120px;
}
/* .offer {
    max-width: 1320px;
    width: auto;
    text-align: center;
    border-radius: 16px 16px 16px 16px;
  } */
.offer-title {
  text-align: center;
  color: #ff0000;
  font-size: 88px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 48px;
}
#offer-description {
  text-align: center;
  color: #ff0000;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 16px;
}
.offer-info {
  text-align: center;
  color: #070211;
  font-size: 48px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}
#offer-image {
  width: 800px;
  height: 500px;
  margin-top: 50px;
}
/* party join section */

.party-section {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.party-join {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
.party-join {
  max-width: 1320px;
  width: auto;
  text-align: center;
  border-radius: 16px 16px 16px 16px;
  margin: 100px auto;
}
.section-text {
  width: auto;
  text-align: center;
  border-radius: 16px 16px 16px 16px;
  /* margin-top: 50px; */
}

.party-section {
  height: 600px;
  background-image: url("../resources/Vectorrr.png");
}
.party-title {
  width: 697px;
  color: #fff;
  text-align: left;
  margin: 50px;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.92px;
}
.content-description {
  width: 697px;
  color: #ffffff;
  margin: 50px;
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
#content-image {
  padding-left: 50px;
}
.button-primary {
  font-family: Inter;
  /* margin-top: 48px; */
  margin-right: 550px;
  border-radius: 5px;
  background: #ff0000;
  border: 0;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding: 15px 35px;
}
/* holiday offer section */
.text {
  color: #070211;
}

.holidays-title {
  margin-top: 16px;
  margin-bottom: 28px;
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
#holidays-description {
  margin: 28px auto;
  width: 1068px;
  color: #8c8b8e;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.holidays-info {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#offer-image {
  width: 800px;
  height: 500px;
  margin-top: 50px;
}

/* best offer section */
.offer-container {
  display: flex;
  max-width: 1440px;
  margin: 100px auto;
}
.column {
  padding: 10px 50px;
}
.best-offer-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#best-offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.best-offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.column-title {
  color: #ff0000;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
#column-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
#offer-image {
  width: 800px;
  height: 500px;
  margin-top: 50px;
}
